//==============Responsive================
$pc-media: 1024px;
$pad-media: 640px;
$mobile-media: 360px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
@mixin pad-width() {
    @media only screen and (min-width: $pad-media) {
        @content;
    }
}
@mixin mobile-width() {
    @media only screen and (min-width: $mobile-media) {
        @content;
    }
}

html, body{
	height: 100%; margin: 0; padding: 0;
    background-color: #edffef;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

::-webkit-scrollbar {
    height: 8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #cccccc;
}

.scroll-x{
    max-width: 100%;
    overflow-x: auto;
}

.input-panel{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(50,50,50,0.5);
    color: white;
    overflow-x: hidden;
    overflow-y: auto;

    .input-area{
        max-height: 100%;
        overflow-y: auto;
        position: relative;
        background-color: #edffef;
        color: rgb(50,50,50);
        border-radius: 5px;
        width: 800px;
        max-width: 100%;
        margin: auto;
        padding: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .area-title{
            font-size: 1.5em;
            text-align: center;
            padding: 10px;
        }
        .group-title{
            font-size: 1.1em;
            font-weight: bold;
            margin: 10px;
        }
        .group{
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #888888;
            overflow-x: auto;
        }
        .search-item-container{
            background-color: #dddddd;
            width: 100%;
            padding: 10px;
            border-radius: 3px;
            .search-item{
                margin: 5px;
                padding: 5px;
                cursor: pointer;
                border-radius: 3px;
                background-color: #eeeeee;
                &:hover{
                    background-color: #ffffff;
                }
            }
        }
        .image-preview{
            height: 35px;
            object-fit: contain;
            border-radius: 5px;
        }
        .image-capture{
            background-color: #888888;
            border-radius: 5px;
            margin: 10px;
            max-width: 100%;
            object-fit: cover;
        }
        .input-item{
            position: relative;
            margin: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            .item{
                margin: 5px;
            }
        }
        .input-label{
            font-size: 1.1em;
            display: inline-block;
            margin: 5px;
        }
        .input-info{
            font-size: 1.1em;
            margin: 5px;
        }
        .input-desc{
            font-size: 1.1em;
            margin: 5px;
            white-space: pre-wrap;
        }
        select{
            border-radius: 3px;
            max-width: 100%;
            padding: 5px;
        }
        textarea{
            margin: 5px 10px;
            border-radius: 3px;
            padding: 10px;
            width: 100%;
            height: 120px;
            resize: none;
        }
        input{
            max-width: 100%;
            padding: 5px;
            border-radius: 3px;
        }
        input[type="number"]{
            max-width: 80px;
        }
        .recognition-canvas{
            display: block;
            border-radius: 5px;
            width: 224px;
            height: 224px;
            margin: 10px auto;
            box-shadow: 0px 0px 5px #888888;
        }
    }
}

@mixin bt{
    display: inline-block;
    background-color: #3b2f24;
    border-radius: 5px;
    padding: 5px 20px;
    color: #eeeeee;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    &:hover{
        background-color: #555555;
    }
    &.selected{
        background-color: #333333;
        box-shadow: 0px 0px 5px #ffff00;
        color: #ffff00;
        &:hover{
            background-color: #333333;
        }
    }
    &.disable{
        background-color: #555555;
        cursor: default;
        &:hover{
            background-color: #555555;
        }
    }
}

.bt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .user-icon{
        width: 30px;
        height: 30px;
        object-fit: contain;
        border-radius: 50%;
    }
}

.bt{
    @include bt;
}
        
.inline-bt{
    display: inline-block;
    padding: 3px 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    
    a{
        color: #ffffff;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.top-bar{
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    background-color: #85ada0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        margin: 10px;
        width: 30px;
        height: 30px;
    }
}