<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<% include head %>
	</head>
	<body>
		<div class="main-app" id="mainApp">
			<q-layout view="lHh lpr lFf" container class="shadow-2 rounded-borders">
				<q-header>
					<topbar></topbar>
				</q-header>

				<q-page-container>
					<q-tab-panels v-model="tab" class="q-pa-md bg-teal-1 text-black " animated>
						<q-tab-panel name="dataset">
							<div class="row q-col-gutter-md">
								<div class="col-12 col-sm-6 col-md-3 q-pa-md" v-for="arr in datasetArr">
									<q-card class="bg-secondary text-white">
										<img src="https://cdn.quasar.dev/img/parallax2.jpg" />

										<q-card-section>
											<div class="text-h6">{{arr.name}}</div>
											<div class="text-subtitle2">圖片數: {{arr.picNum}}</div>
											<div class="text-subtitle2">標註數: {{arr.tagNum}}</div>
										</q-card-section>

										<q-separator dark></q-separator>

										<q-card-actions align="right">
											<q-btn flat>Action 1</q-btn>
											<q-btn flat>Action 2</q-btn>
										</q-card-actions>
									</q-card>
								</div>
							</div>
							
						</q-tab-panel>

						<q-tab-panel name="upload">
							<div class="text-h6">拍照上傳</div>
						</q-tab-panel>

						<q-tab-panel name="annotation">
							<div class="text-h6">照片標註</div>
						</q-tab-panel>
					</q-tab-panels>

				</q-page-container>

				<q-footer>
					<q-tabs v-model="tab" inline-label align="justify" class="bg-primary text-white">
						<q-tab name="dataset" icon="folder" label="資料集"></q-tab>
						<q-tab name="upload" icon="cloud_upload" label="拍照上傳"></q-tab>
						<q-tab name="annotation" icon="aspect_ratio" label="照片標註"></q-tab>
					</q-tabs>
				</q-footer>

			</q-layout>
			
		</div>

		<script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/quasar@^1.6.1/dist/quasar.umd.min.js"></script>
		<script src="/dist/js/main.js?v=<%=meta.version%>"></script>
	</body>
</html>