<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<%- include ("head.ejs") %>
	</head>
	<body>
		<login id="loginApp"></login>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		
		<% if(mode == "production"){ %>
			<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<% } else if (mode == "development") { %>
			<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<% } %>

		<script src="https://cdn.jsdelivr.net/npm/quasar@^1.6.1/dist/quasar.umd.min.js"></script>
		<script src="/dist/<%=mode%>/js/login.js?v=<%=meta.version%>"></script>
	</body>
</html>