<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<% include head %>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<dataset-statistic id="statisticApp"></dataset-statistic>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js"></script>
		<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/quasar@^1.6.1/dist/quasar.umd.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly-basic.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/spacetime@6.4.1/builds/spacetime.min.js"></script>
		<script src="/dist/js/statistic.js?v=<%=meta.version%>"></script>
	</body>
</html>