<div class="top-bar">
	<a href="/"><img class="logo" src="/static/image/logo.png"></a>
	<div class="bt-container">
		<%if (user) { %>
			<image class="user-icon" src="<%=user.icon%>">
			<div class="inline-bt"><a href="/account"><%=user.name%></a></div>
		<% } else { %>
			<div class="inline-bt"><a href="/login">登入</a></div>
		<% } %>
		
	</div>
</div>